name: Build README.md

on:
  workflow_dispatch:
    inputs:
      tags:
        description: "Update README.md"
        required: false
  push:
    branches:
      - master
  schedule:
    - cron: "0 2,8,14,20 * * *"

jobs:
  build_readme:
    name: Build README.md
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: "pip"
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r src/requirements.txt
      - name: Update README
        env:
          PGLINKS_KEY: ${{ secrets.PGLINKS_KEY }}
        run: |-
          python src/update.py
          cat README.md
      - name: Commit and push if README changed
        run: |-
          git diff
          git config --global user.email "readme-bot@pgmac.dev"
          git config --global user.name "README-bot"
          git diff --quiet || (git add README.md && git commit -m "Updated README")
          git push
